packages/n8n-operational-package/workflows/alphonse-event-reporter.json
{
  "id": "AlphonseReport01",
  "name": "Alphonse Event Reporter",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "report-subworkflow-trigger",
      "name": "Called by Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": { "inputSource": "passthrough" }
    },
    {
      "id": "report-error-trigger",
      "name": "Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 180],
      "parameters": {}
    },
    {
      "id": "report-build-envelope",
      "name": "Select Execution Identity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0],
      "parameters": {
        "jsCode": "const externalExecutionId = String($json.attestation_request?.external_execution_id ?? $json.execution?.id ?? $execution.id);\nreturn [{ json: { external_execution_id: externalExecutionId } }];"
      }
    },
    {
      "id": "report-http",
      "name": "Request Independent Attestation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 0],
      "parameters": {
        "method": "POST",
        "url": "http://n8n-runtime-adapter:5680/v0/runtime-attestations",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ external_execution_id: $json.external_execution_id }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Called by Workflow": { "main": [[{ "node": "Select Execution Identity", "type": "main", "index": 0 }]] },
    "Workflow Error": { "main": [[{ "node": "Select Execution Identity", "type": "main", "index": 0 }]] },
    "Select Execution Identity": { "main": [[{ "node": "Request Independent Attestation", "type": "main", "index": 0 }]] }
  }
}
