packages/n8n-operational-package/workflows/canonical-lead-ingress.json
{
  "id": "CanonicalLeadIngress01",
  "name": "Canonical Proof - Lead Ingress",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "canonical-lead-webhook",
      "name": "Receive Lead Delivery",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "agency-lab-lead-ingress",
      "parameters": {
        "httpMethod": "POST",
        "path": "agency-lab-lead-ingress",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "canonical-create-crm-lead",
      "name": "Create CRM Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0],
      "parameters": {
        "method": "POST",
        "url": "http://crm-request-observer:3700/v0/crm/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer local-n8n-crm-route-token" },
            { "name": "X-Alphonse-Logical-Operation-Id", "value": "={{ $json.headers['x-alphonse-logical-operation-id'] }}" },
            { "name": "X-Alphonse-Delivery-Id", "value": "={{ $json.headers['x-alphonse-delivery-id'] }}" },
            { "name": "X-Alphonse-Forwarding-Id", "value": "={{ $json.headers['x-alphonse-forwarding-id'] }}" },
            { "name": "X-Alphonse-Source-Delivery-Key", "value": "={{ $json.headers['x-alphonse-source-delivery-key'] }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      }
    },
    {
      "id": "canonical-report-execution-identity",
      "name": "Report Execution Identity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 0],
      "parameters": {
        "method": "POST",
        "url": "http://n8n-runtime-observer:3650/internal/v0/executions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer local-n8n-runtime-signal-token" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ execution_id: $execution.id }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Receive Lead Delivery": {
      "main": [[{ "node": "Create CRM Lead", "type": "main", "index": 0 }]]
    },
    "Create CRM Lead": {
      "main": [[{ "node": "Report Execution Identity", "type": "main", "index": 0 }]]
    }
  }
}
